
.section-description-container {
    width: 1110px;
    padding: 0 84px;
    margin-left: auto;
    margin-right: auto;
}

.section-description {
    background-color: #FFFDEE;
}



.list {
    list-style: none;
}



.paragraph-box {
display: inline-flex;
column-gap: 164px;

}


.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 49px;
    margin-bottom: 37px;
}

.button {
    width: 384px;
    height: 64px;
    box-sizing: border-box;
    background: #000000;
    color: #ffffff;
/* Желтый основной */

border: 1px solid #F3C653;
border-radius: 25px;

}
.button:hover {
    background-color: #F3C653;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.button:focus {
    color: #F3C653;
}

.button-checker {
    color: #C79002;
    display: flex;
    justify-content: flex-end;

}

